
@import 'normalize.css';

*, *:before, *:after {
  box-sizing: border-box;
}


:root { 
  --black: #222222;
  --teal: #22A39F;
  --grey: #434242;
  --beige: #d6cfb5;
  --header-height: 100px;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black)
 }

 .header {
   height: var(--header-height);
   display: flex;
   justify-content: center;
   padding: 20px;
 }

.brand { 
  color: var(--beige);
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 5px;
}

.main { 
  padding: 20px;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions { 
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.generate { 
  margin-top: 100px;
  margin-inline: auto;
}

.difficulties { 
  display: flex; 
  gap: 100px;
}

button { 
  cursor: pointer;
  background-color: Transparent;
  border: 1px solid var(--teal);
  border-radius: 30px;
  color: var(--teal);
  font-size: 30px;
  padding: 15px;
}

button:hover, button.active { 
  color: var(--beige);
  border-color: var(--beige);
}

.wod {
  margin-top: 200px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--teal);
  width: clamp(300px, 90vw, 800px);
  color: var(--beige);
  font-size: 20px;
}

.loading { 
  margin-top: 300px;
}